{
  "presets": [
    ["env", {
      "debug": true,
      "targets": {
        "node": 4.7
      }
    }]
  ],
  "plugins": [
    "add-module-exports"
  ],
  "env": {
    "test": {
      "sourceMaps": "inline",
      "plugins": ["babel-plugin-rewire"]
    }
  }
}
