{
  "presets": [
    ["env", {
      "targets": {
        "node": "4.7"
      }
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "add-module-exports"
  ],
  "env": {
    "test": {
      "sourceMaps": "inline",
      "plugins": ["babel-plugin-rewire"]
    }
  }
}
