{
  "extends": [
    "standard",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "standard",
    "promise",
    "jest"
  ],
  "env": {
    "jest/globals": true
  }
}
